* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --deep-dark: rgb(26, 26, 26);
    --light-dark: rgb(79, 82, 92);
    --light-blue: rgb(0, 132, 255);
    --dark-blue: rgb(2, 84, 161);
    --light: rgb(245, 245, 245);
}

body {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
}

h1 {
    color: var(--light);
    margin-bottom: 20px;
    text-transform: uppercase;
}


.fas {
    pointer-events: none;
}

.todo {
    border-radius: 5px;
    background: #fff;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
    text-align: center;
    width: 500px;
    margin: 0 2vh;
}

.header {
    border-radius: 5px 5px 0 0;
    padding: 40px;
    background-image: linear-gradient(340deg, #045de9 0%, #09c6f9 100%);
}

.todo-input {
    width: 100%;
    padding: 10px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    color: var(--light-dark);
    background-color: var(--light);
}

.error-info {
    margin-top: 20px;
    color: var(--dark-blue);
}

.btn-add {
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    color: var(--deep-dark);
    background-color: var(--light);
    text-transform: uppercase;
    cursor: pointer;
}

.todolist {
    padding: 20px 0;
}

.todolist h3 {
    text-transform: uppercase;
    margin-bottom: 16px;
}

.todolist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding-left: 20px;
    text-align: left;
    list-style: none;
    background-color: var(--light);
}

.tools {
    display: inline-block;
}

.tools button {
    padding: 15px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.complete {
    color: var(--light-blue);
}

.edit {
    font-weight: bold;
    color: rgb(15, 179, 69);
}

.delete {
    color: tomato;
}

.completed {
    font-size: 12px;
    color: var(--light-dark);
    text-decoration: line-through;
    font-style: italic;
}

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    color: var(--light);
    background-color: var(--light-dark);
    border-radius: 5px;
}

.popupOpen {
    display: flex;
}

.popup h3 {
    padding: 20px;
}

.popup-info {
    color: var(--light);
    margin-bottom: 20px;
}

.popup-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 10px;
}

.popup-input {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: var(--light-dark);
    background-color: var(--light);
}

.popup-btn {
    width: 40%;
    display: inline-block;
    padding: 8px 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: var(--deep-dark);
    background-color: var(--light);
    text-transform: uppercase;
    cursor: pointer;
}


@media(min-width:768px) {
    .todo {
        width: 700px;
        margin: 0 2vh;
    }

    .todo-input {
        padding: 12px 22px;
    }

    .btn-add {
        padding: 15px 22px;
    }

    .popup {
        width: 500px;
    }

    .popup-btn {
        padding: 12px 22px;
    }

    .popup-input {
        padding: 15px 20px;
    }

}


@media(min-width:992px) {
    .todo {
        width: 800px;
        margin: 0 2vh;
    }

    .popup {
        width: 800px;
    }
}



@media(min-width:1200px) {
    body {
        margin-top: 80px;
    }

    .todo {
        width: 800px;
    }

    .todo-input {
        padding: 10px 20px;
    }

    .btn-add {
        padding: 10px 22px;
        transition: color .3s, background-color .3s;
    }

    .btn-add:hover {
        color: #fff;
        background-color: var(--light-dark);
    }

    .tools button {
        transition: background-color .3s;
    }

    .tools button:hover {
        background-color: #ddd;
    }

    .popup-btn {
        padding: 10px 22px;
    }

    .popup-input {
        padding: 10px 20px;
    }

    .popup-btn {
        transition: color .3s, background-color .3s;
    }

    .popup-btn:hover {
        color: #fff;
        background-color: var(--light-blue);
    }
}

/* TODO: */